.banner-section {
    position: relative;
    text-align: center;
    color: white;
  }
  
  .banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    font-weight: bold;
  }
  

  .service-card {
    position: relative;
    margin-bottom: 2rem;
    text-align: center;
    height: 180px;
    width: 681px;
    
    
  }
  
  .service-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .service-content {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1rem;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
  }
  
  .service-content h3 {
    font-size: 1.25rem;
    color: #C80101;
    margin-bottom: 0.5rem;
  }
  
  .service-content p {
    font-size: 1rem;
    color: #333;
  }
  
  
  .gallery-item {
    margin-bottom: 20px;
  }
  
  footer {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
  }
  
  footer a {
    color: white;
  }
 
