@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.profile-container {
    color: #D9D9D9;
    font-family: 'Poppins', sans-serif;
    
}

.profile-header {
    background-color: #920808;
    padding: 20px;
    display: flex;
    align-items: center;
    border-radius: 8px 8px 0 0;
}

.profile-header .profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.profile-header-info h4, .profile-header-info p {
    margin: 0;
    color: white;
}

.profile-header-info h4 {
    font-size: 50px;
    font-weight: 400; /* Regular */
}

.profile-header-info p {
    font-size: 20px;
    font-weight: 400; /* Regular */
}

.profile-sidebar {
    background-color: transparent;
    padding: 20px;
    align-items: left;
}

.profile-sidebar .list-group-item.active {
    background-color: white;
    color: black;
    border: none;
}

.profile-sidebar .list-group-item {
    background-color: white;
    color: black;
    border: none;
    margin-bottom: 10px;
    font-size: 25px; /* Set font size to 30px */
    font-weight: 600; /* Set font weight to bold */
}

.profile-sidebar .list-group-item:hover {
    background-color: #750606;
    color: white;
}

.profile-form {
    background-color: #F7F7F7;
    height: 700px;
    width: 700px;
    padding: 30px;
    border: 1px solid #920808;
    border-radius: 8px;
    margin: 0 auto; /* Center align the form */
}

.profile-form-content {
    height: 100%;
}

.form-label {
    font-weight: 600;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-size: 20px; /* Updated to 25px */
}

.form-control {
    background-color: #E8E8E8;
    border: none;
    color: rgb(72, 68, 68);
    height: 63px; /* Updated to 83px */
    font-family: 'Poppins', sans-serif;
    font-size: 15px; /* Updated to 25px */
}

.btn-primary {
    background-color: #920808;
    border: none;
    width: 200px; /* Set button width */
    height: 60px; /* Set button height */
    font-size: 20px;
    margin: 0 auto; /* Center align the button */
    display: block; /* Center align the button */
}

.btn-primary:hover {
    background-color: #750606;
}

.text-center img {
    width: 100px;
    height: 100px;
}

.text-center p {
    color: #920808;
    cursor: pointer;
}
